/* media queries */
/*
    breakpoints for devices

    0 - 600px       ---->   Mobile
    600px - 900px   ---->   Tablets
    900px - 1200px  ---->   Desktop
    1200px +        ---->   Bigger screens + infinite

*/
:root {
  --color-primary: #e8e8e8;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: rgb(105, 104, 104);
  --color-red: #f05454;
  --color-blue: #30475e;
  --color-dark-blue: #222831; }

.u-border-top {
  border-top: 1px solid var(--color-black); }

.u-border-left {
  border-left: 1px solid var(--color-black); }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.55em) {
    html {
      font-size: 50%; } }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 0 2rem;
  color: var(--color-black);
  background-color: var(--color-white);
  /*background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/img/Photos-Earth-From-Space.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.header {
  text-transform: uppercase; }
  .header__title {
    font-size: 2.9rem; }
  .header__profile {
    display: flex;
    align-items: center; }
    .header__profile :not(:last-child) {
      margin-right: 1.5rem; }
    .header__profile--img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      object-fit: cover; }
  @media only screen and (max-width: 56.25em) {
    .header__title {
      display: none; }
    .header__profile :not(:last-child) {
      margin-right: 1.5rem; }
    .header--img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      object-fit: cover; } }
  @media only screen and (max-width: 37.55em) {
    .header {
      font-size: 1.6rem !important; }
      .header__profile--img {
        height: 35px;
        width: 35px; } }

.left-side {
  margin-right: 3rem;
  margin-left: 1rem; }
  .left-side__twoCars {
    display: flex;
    justify-content: space-evenly; }
    .left-side__twoCars--1 {
      height: 152px;
      margin-top: 4rem; }
    .left-side__twoCars img {
      width: 286px; }
  .left-side__about--paragraph {
    line-height: 2;
    width: 82%;
    font-size: 1.4rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    text-align: justify;
    margin-left: 2rem; }
  .left-side__btn {
    margin-top: 4rem; }
    .left-side__btn a {
      text-decoration: none;
      padding: 1rem 6rem;
      margin-top: 3rem;
      font-size: 2rem;
      font-weight: 600;
      border-radius: 0.7rem;
      border: none;
      opacity: 0.8;
      cursor: pointer;
      color: var(--color-white);
      background: var(--color-red); }
  @media only screen and (max-width: 56.25em) {
    .left-side__celestialBodies {
      padding: 2rem 0 4rem 0; }
      .left-side__celestialBodies img {
        height: 70px;
        width: 70px; }
    .left-side__about {
      transform: translateY(0); }
      .left-side__about--paragraph {
        width: 86%;
        padding-bottom: 2rem; }
    .left-side__btn {
      margin-top: 2rem; }
      .left-side__btn a {
        padding: 1rem 2rem; } }
  @media only screen and (max-width: 37.55em) {
    .left-side__about--paragraph {
      width: 84%; } }

@media only screen and (max-width: 37.55em) and (max-width: 30em) {
  .left-side__about--paragraph {
    width: 79%; } }

.right-side {
  display: flex;
  flex: 1;
  flex-wrap: wrap; }

/*article__content*/
.article__content {
  margin-top: 2rem;
  text-align: justify;
  padding-right: 22px;
  padding-left: 20px; }
  .article__content__title {
    font-size: 2rem;
    padding-top: 2rem; }
  .article__content__paragraph {
    font-size: 1.7rem;
    padding-top: 2rem;
    line-height: 22px; }
  .article__content__list {
    line-height: 22px;
    display: flex;
    list-style: none;
    font-size: 3.6rem;
    text-align: left;
    padding-bottom: 1rem;
    text-transform: capitalize; }
    .article__content__list--1 {
      padding-left: 3rem; }
    .article__content__list--1, .article__content__list--2 {
      padding-right: 71px; }
  @media only screen and (max-width: 56.25em) {
    .article__content {
      padding: 2rem 0rem; }
      .article__content__title {
        font-size: 2rem;
        padding-top: 2rem; }
        .article__content__title i {
          font-size: 2rem; }
        .article__content__title--2 {
          padding-top: 0px; }
      .article__content__list {
        display: block; }
        .article__content__list--1 {
          padding-right: 3rem; } }

.header {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-size: 2.5rem;
  color: var(--color-gray); }

.container {
  display: flex;
  flex-wrap: wrap; }

.item {
  flex: 1 1 calc(50% - 162px); }

.item-0,
.first-item {
  flex-basis: 100%; }

.item-3 {
  flex-basis: calc(50% + 10px); }

/*.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex: 1;
}*/
.plan-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 29rem;
  position: relative;
  margin-top: 2rem;
  /* front style */
  /* back styles */ }
  .plan-card__view {
    clip-path: polygon(100% 0, 100% 4%, 62% 100%, 0 100%, 0 0);
    transition: all 0.8s ease-in-out;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 7px;
    box-shadow: inset 0 0 12px -6px rgba(0, 0, 0, 0.5);
    overflow: hidden; }
    .plan-card__view--front {
      background-color: white;
      width: 352px; }
    .plan-card__view--back {
      transform: rotateY(180deg);
      overflow: hidden; }
      .plan-card__view--back-1 {
        background-color: var(--color-black); }
      .plan-card__view--back-2 {
        background-color: var(--color-black); }
      .plan-card__view--back-3 {
        background-color: var(--color-black); }
  .plan-card:hover .plan-card__view--front {
    transform: rotateY(180deg); }
  .plan-card:hover .plan-card__view--back {
    transform: rotateY(0); }
  .plan-card__picture {
    height: 293px;
    width: 61rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .plan-card__picture--1 {
      background-image: url("../img/car1.png"); }
    .plan-card__picture--2 {
      background-image: url("../img/car4.png"); }
    .plan-card__picture--3 {
      background-image: url("../img/car2.png"); }
  .plan-card__detail {
    color: #3b3838;
    position: absolute;
    font-size: 1.5rem;
    padding: 0.6rem;
    font-weight: 490; }
    .plan-card__detail--1 {
      position: relative;
      top: -25rem; }
    .plan-card__detail--2 {
      position: relative;
      top: -26.7rem;
      left: 24rem; }
    .plan-card__detail--3 {
      position: relative;
      top: -5.9rem; }
    .plan-card__detail--4 {
      position: relative;
      top: -7.5rem;
      right: -8rem; }
    .plan-card__detail--5 {
      position: relative;
      top: -9.1rem;
      right: -20rem; }
  .plan-card--deals {
    font-size: 1.8rem;
    color: black;
    padding: 3rem;
    line-height: 3.3rem;
    font-weight: 500;
    padding-right: 50px;
    padding-left: 50px; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .plan-card {
      height: auto; }
      .plan-card__view {
        height: auto;
        font-size: 2rem;
        position: relative;
        width: 100%; }
        .plan-card__view--back {
          transform: rotateY(0);
          clip-path: polygon(33% 8%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
          margin-top: -3rem;
          border-radius: 3px;
          box-shadow: 0px 1.5px 3px 2px rgba(0, 0, 0, 0.92); }
      .plan-card:hover .plan-card__view--front {
        transform: rotateY(0); }
      .plan-card__details {
        padding-bottom: 5rem; }
      .plan-card--deals {
        font-size: 1.6rem;
        padding: 2rem;
        position: relative;
        left: 0%;
        top: 0;
        transform: translate(0, 8%); } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #777; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem;
      margin-bottom: 8rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      width: 50rem; } }
  @media only screen and (max-width: 37.55em) {
    .row {
      width: 35rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    margin-right: 0rem; }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4)+6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4)+6rem); }
