.plan-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 29rem;
  position: relative;
  margin-top: 2rem;

  &__view {
    clip-path: polygon(100% 0, 100% 4%, 62% 100%, 0 100%, 0 0);
    transition: all 0.8s ease-in-out;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 7px;
    box-shadow: inset 0 0 12px -6px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    &--front {
      background-color: white;
      width: 238px;
    }

    &--back {
      transform: rotateY(180deg);
      overflow: hidden;

      &-1 {
        background-color: var(--color-black);
      }
      &-2 {
        background-color: var(--color-black);
      }
      &-3 {
        background-color: var(--color-black);
      }
    }
  }

  &:hover &__view--front {
    transform: rotateY(180deg);
  }
  &:hover &__view--back {
    transform: rotateY(0);
  }

  /* front style */

  &__picture {
    height: 211px;
    width: 43rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url("../img/car1.png");
    }
    &--2 {
      background-image: url("../img/car4.png");
    }
    &--3 {
      background-image: url("../img/car2.png");
    }
  }

  &__detail {
    color: rgb(59, 56, 56);
    position: absolute;
    font-size: 1.5rem;
    padding: 0.6rem;
    font-weight: 490;

    &--1 {
      position: relative;
      top: -25rem;
    }
    &--2 {
      position: relative;
      top: -26.7rem;
      left: 24rem;
    }
    &--3 {
      position: relative;
      top: -5.9rem;
    }
    &--4 {
      position: relative;
      top: -7.5rem;
      right: -8rem;
    }
    &--5 {
      position: relative;
      top: -9.1rem;
      right: -20rem;
    }
  }

  /* back styles */

  &--deals {
    font-size: 1.8rem;
    color: black;
    padding: 3rem;
    line-height: 3.3rem;
    font-weight: 500;
    padding-right: 50px;
    padding-left: 50px;
  }

  // @include respond-to(tablet) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    &__view {
      height: auto;
      font-size: 2rem;
      position: relative;
      width: 100%;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(33% 8%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
        margin-top: -3rem;
        border-radius: 3px;
        box-shadow: 0px 1.5px 3px 2px rgba(black, 0.92);
      }
    }

    &:hover &__view--front {
      transform: rotateY(0);
    }

    &__details {
      padding-bottom: 5rem;
    }

    &--deals {
      font-size: 1.6rem;
      padding: 2rem;
      position: relative;
      left: 0%;
      top: 0;
      transform: translate(0, 8%);
    }
  }
}
